// SASS variables
$textDark: #43281E;
$textLight: #C49C79;
$highlight: #3b5f3a;
$main: #FFFFFF;

// Override bootstrap styles here. 
// See https://getbootstrap.com/docs/4.0/getting-started/theming/#theme-colors for some pointers
$primary: $main;
$danger: #ff2e2e;
$secondary: #979595;
$warning: #FFA866;
$info: $highlight;
$success: $highlight;